# **Creating Pokemon Data via Web Scraping**

by Lena Horsley

In [1]:
import pandas as pd
import numpy as np
import chardet
import os
import sqlite3 as db

In [2]:
csv_files = ["Galar.csv","Hoenn.csv","Johto.csv","Kalos.csv","Kanto.csv","unknown.csv","Sinnoh.csv","Unova.csv","Hisui.csv"]
csv_file = "Alola.csv"

pokedex_dataframe = pd.read_csv(csv_file)


for file_name in csv_files:
  temp_dataframe = pd.read_csv(file_name)
  pokedex_dataframe = pokedex_dataframe.append(temp_dataframe)

pokedex_dataframe1 = pokedex_dataframe.sort_values(['num'], ascending=[True])
display(pokedex_dataframe1)

,num,name,poke_type,attacks,hp,attack,defense,max_cp,max_buddy_cp,region,type1,type2,boost1,boost2,boost
0,1,Bulbasaur,grass poison,"Tackle, Vine Whip, Sludge Bomb, Seed Bomb, Po...",128.0,118.0,111.0,1260,1275,Kanto,grass,poison,sunny/clear,cloudy,sunny/clear cloudy
1,2,Ivysaur,grass poison,"Razor Leaf, Vine Whip, Sludge Bomb, Solar Bea...",155.0,151.0,143.0,1920,1943,Kanto,grass,poison,sunny/clear,cloudy,sunny/clear cloudy
3,3,Mega Venusaur,grass poison,"Razor Leaf, Vine Whip, Sludge Bomb, Solar Bea...",190.0,241.0,246.0,4181,4231,Kanto,grass,poison,sunny/clear,cloudy,sunny/clear cloudy
2,3,Venusaur,grass poison,"Razor Leaf, Vine Whip, Sludge Bomb, Solar Bea...",190.0,198.0,189.0,3075,3112,Kanto,grass,poison,sunny/clear,cloudy,sunny/clear cloudy
4,4,Charmander,fire,"Ember, Scratch, Flame Burst, Flamethrower, Fl...",118.0,116.0,93.0,1108,1121,Kanto,fire,NaN,sunny/clear,NaN,sunny/clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,902,Basculegion,water ghost,NaN,260.0,199.0,144.0,3159,3197,Hisui,water,ghost,rain,fog,rain fog
5,903,Sneasler,fighting poison,NaN,190.0,259.0,158.0,3643,3687,Hisui,fighting,poison,cloudy,cloudy,cloudy cloudy
6,904,Overqwil,dark poison,NaN,198.0,222.0,171.0,3330,3370,Hisui,dark,poison,fog,cloudy,fog cloudy
7,905,Enamorus,fairy flying,NaN,179.0,281.0,162.0,3872,3919,Hisui,fairy,flying,cloudy,windy,cloudy windy
8,905,Enamorus,fairy flying,NaN,179.0,250.0,201.0,3830,3876,Hisui,fairy,flying,cloudy,windy,cloudy windy

In [3]:
pokedex_dataframe1.describe()

,num,hp,attack,defense,max_cp,max_buddy_cp
count,1135.000000,1131.000000,1131.000000,1131.000000,1135.000000,1135.000000
mean,452.628194,171.519010,173.722370,148.515473,2387.883700,2416.391189
std,263.714534,44.866886,64.078415,53.047787,1214.205813,1228.737305
min,1.000000,1.000000,17.000000,32.000000,0.000000,0.000000
25%,220.500000,137.000000,124.000000,106.000000,1377.000000,1393.000000
50%,460.000000,170.000000,171.000000,145.000000,2346.000000,2374.000000
75%,675.500000,190.000000,215.500000,182.000000,3168.500000,3206.500000
max,905.000000,496.000000,426.000000,505.000000,9255.000000,9366.000000

In [4]:
pokedex_dataframe1.isnull().sum()

num               0
name              0
poke_type         0
attacks          77
hp                4
attack            4
defense           4
max_cp            0
max_buddy_cp      0
region            0
type1             4
type2           529
boost1            4
boost2          529
boost             0
dtype: int64

In [5]:
pokedex_dataframe1.reset_index(inplace = True, drop = True)
display(pokedex_dataframe1)

,num,name,poke_type,attacks,hp,attack,defense,max_cp,max_buddy_cp,region,type1,type2,boost1,boost2,boost
0,1,Bulbasaur,grass poison,"Tackle, Vine Whip, Sludge Bomb, Seed Bomb, Po...",128.0,118.0,111.0,1260,1275,Kanto,grass,poison,sunny/clear,cloudy,sunny/clear cloudy
1,2,Ivysaur,grass poison,"Razor Leaf, Vine Whip, Sludge Bomb, Solar Bea...",155.0,151.0,143.0,1920,1943,Kanto,grass,poison,sunny/clear,cloudy,sunny/clear cloudy
2,3,Mega Venusaur,grass poison,"Razor Leaf, Vine Whip, Sludge Bomb, Solar Bea...",190.0,241.0,246.0,4181,4231,Kanto,grass,poison,sunny/clear,cloudy,sunny/clear cloudy
3,3,Venusaur,grass poison,"Razor Leaf, Vine Whip, Sludge Bomb, Solar Bea...",190.0,198.0,189.0,3075,3112,Kanto,grass,poison,sunny/clear,cloudy,sunny/clear cloudy
4,4,Charmander,fire,"Ember, Scratch, Flame Burst, Flamethrower, Fl...",118.0,116.0,93.0,1108,1121,Kanto,fire,NaN,sunny/clear,NaN,sunny/clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130,902,Basculegion,water ghost,NaN,260.0,199.0,144.0,3159,3197,Hisui,water,ghost,rain,fog,rain fog
1131,903,Sneasler,fighting poison,NaN,190.0,259.0,158.0,3643,3687,Hisui,fighting,poison,cloudy,cloudy,cloudy cloudy
1132,904,Overqwil,dark poison,NaN,198.0,222.0,171.0,3330,3370,Hisui,dark,poison,fog,cloudy,fog cloudy
1133,905,Enamorus,fairy flying,NaN,179.0,281.0,162.0,3872,3919,Hisui,fairy,flying,cloudy,windy,cloudy windy
1134,905,Enamorus,fairy flying,NaN,179.0,250.0,201.0,3830,3876,Hisui,fairy,flying,cloudy,windy,cloudy windy

In [6]:
pokedex_dataframe1.to_csv("pokedex_dataframe.csv", index=False)

In [7]:
def create_database(my_dataframe): 
  conn = db.connect("pokedex_database.db")
  my_dataframe.to_sql('pokedex', conn)
  cursor = conn.cursor()
  data = cursor.execute('''SELECT * FROM pokedex''')
  for column in data.description:
    print(column[0])
  return cursor, conn

def run_database_query(cursor, sql_string):
  my_data = cursor.execute(sql_string)
  cols = [column[0] for column in my_data.description]
  results = pd.DataFrame.from_records(data = my_data.fetchall(), columns = cols)

  return results

In [8]:
cursor, conn = create_database(pokedex_dataframe1)

index
num
name
poke_type
attacks
hp
attack
defense
max_cp
max_buddy_cp
region
type1
type2
boost1
boost2
boost

In [9]:
alola_results = run_database_query(cursor, "SELECT * FROM pokedex WHERE region='Hoenn'")
print(alola_results)

     index  num                     name         poke_type  \
0      318  252                  Treecko            grass
1      319  253                  Grovyle            grass
2      320  254                 Sceptile            grass
3      321  254            Mega Sceptile    grass  dragon
4      322  255                  Torchic             fire
..     ...  ...                      ...               ...
161    479  385                  Jirachi   steel  psychic
162    480  386    Deoxys (Speed Forme)           psychic
163    481  386   Deoxys (Attack Forme)           psychic
164    482  386  Deoxys (Defense Forme)           psychic
165    483  386                   Deoxys          psychic

                                               attacks     hp  attack  \
0     Pound, Bullet Seed, Energy Ball, Aerial Ace, ...  120.0   124.0
1     Quick Attack, Bullet Seed, Leaf Blade, Aerial...  137.0   172.0
2     Fury Cutter, Bullet Seed, Leaf Blade, Aerial ...  172.0   223.0
3     Fury Cutter, Bullet Seed, Leaf Blade, Aerial ...  172.0   320.0
4     Scratch, Ember, Flame Charge, Flamethrower, R...  128.0   130.0
..                                                 ...    ...     ...
161   Confusion, Charge Beam, Dazzling Gleam, Psych...  225.0   210.0
162   Zen Headbutt, Charge Beam, Psycho Boost, Thun...  137.0   230.0
163   Zen Headbutt, Poison Jab, Psycho Boost, Zap C...  137.0   414.0
164   Zen Headbutt, Counter, Psycho Boost, Thunderb...  137.0   144.0
165   Zen Headbutt, Charge Beam, Psycho Boost, Thun...  137.0   345.0

     defense  max_cp  max_buddy_cp region    type1    type2       boost1  \
0       94.0    1190          1204  Hoenn    grass     None  sunny/clear
1      120.0    1891          1914  Hoenn    grass     None  sunny/clear
2      169.0    3117          3154  Hoenn    grass     None  sunny/clear
3      186.0    4585          4640  Hoenn    grass   dragon  sunny/clear
4       87.0    1236          1251  Hoenn     fire     None  sunny/clear
..       ...     ...           ...    ...      ...      ...          ...
161    210.0    3691          3735  Hoenn    steel  psychic         snow
162    218.0    3255          3294  Hoenn  psychic     None        windy
163     46.0    2916          2951  Hoenn  psychic     None        windy
164    330.0    2570          2601  Hoenn  psychic     None        windy
165    115.0    3573          3616  Hoenn  psychic     None        windy

    boost2              boost
0     None       sunny/clear
1     None       sunny/clear
2     None       sunny/clear
3    windy  sunny/clear windy
4     None       sunny/clear
..     ...                ...
161  windy         snow windy
162   None             windy
163   None             windy
164   None             windy
165   None             windy

[166 rows x 16 columns]

In [10]:
print(type(alola_results))

<class 'pandas.core.frame.DataFrame'>

In [11]:
alola_results1 = run_database_query(cursor, "SELECT * FROM pokedex WHERE region='Hoenn'AND (poke_type LIKE '%fire%' OR poke_type LIKE '%steel%')")
print(alola_results1)

    index  num                     name         poke_type  \
0     322  255                  Torchic             fire
1     323  256                Combusken   fire  fighting
2     324  257            Mega Blaziken   fire  fighting
3     325  257                 Blaziken   fire  fighting
4     377  303                   Mawile     steel  fairy
5     378  303              Mega Mawile     steel  fairy
6     379  304                     Aron      steel  rock
7     380  305                   Lairon      steel  rock
8     381  306              Mega Aggron            steel
9     382  306                   Aggron      steel  rock
10    401  322                    Numel     fire  ground
11    402  323                 Camerupt     fire  ground
12    403  323            Mega Camerupt     fire  ground
13    404  324                  Torkoal             fire
14    435  351  Castform  (Sunny Form)              fire
15    462  374                   Beldum   steel  psychic
16    463  375                   Metang   steel  psychic
17    464  376                Metagross   steel  psychic
18    465  376           Mega Metagross   steel  psychic
19    468  379                Registeel            steel
20    476  383           Primal Groudon     ground  fire
21    479  385                  Jirachi   steel  psychic

                                              attacks     hp  attack  defense  \
0    Scratch, Ember, Flame Charge, Flamethrower, R...  128.0   130.0     87.0
1    Peck, Ember, Flame Charge, Flamethrower, Rock...  155.0   163.0    115.0
2    Counter, Fire Spin, Focus Blast, Overheat, Br...  190.0   329.0    168.0
3    Counter, Fire Spin, Focus Blast, Overheat, Br...  190.0   240.0    141.0
4    Bite, Astonish, Ice Fang, Fire Fang, Ice Fang...  137.0   155.0    141.0
5    Bite, Astonish, Ice Fang, Fire Fang, Ice Fang...  137.0   188.0    217.0
6    Tackle, Metal Claw, Iron Head, Rock Tomb, Bod...  137.0   121.0    141.0
7    Metal Claw, Iron Tail, Body Slam, Rock Slide,...  155.0   158.0    198.0
8    Dragon Tail, Iron Tail, Smack Down, Thunder, ...  172.0   247.0    331.0
9    Dragon Tail, Iron Tail, Smack Down, Thunder, ...  172.0   198.0    257.0
10         Ember, Tackle, Bulldoze, Heat Wave, Stomp,  155.0   119.0     79.0
11   Ember, Rock Smash, Earthquake, Overheat, Sola...  172.0   194.0    136.0
12   Ember, Rock Smash, Earthquake, Overheat, Sola...  172.0   253.0    183.0
13   Fire Spin, Ember, Overheat, Solar Beam, Earth...  172.0   151.0    203.0
14                                               None  172.0   139.0    139.0
15                               Take Down, Struggle,  120.0    96.0    132.0
16   Zen Headbutt, Metal Claw, Psychic, Gyro Ball,...  155.0   138.0    176.0
17   Bullet Punch, Zen Headbutt, Psychic, Flash Ca...  190.0   257.0    228.0
18   Bullet Punch, Zen Headbutt, Psychic, Flash Ca...  190.0   300.0    289.0
19   Metal Claw, Rock Smash, Lock On, Flash Cannon...  190.0   143.0    285.0
20   Mud Shot, Dragon Tail, Earthquake, Fire Blast...  225.0   364.0    276.0
21   Confusion, Charge Beam, Dazzling Gleam, Psych...  225.0   210.0    210.0

    max_cp  max_buddy_cp region   type1     type2       boost1         boost2  \
0     1236          1251  Hoenn    fire      None  sunny/clear           None
1     1868          1890  Hoenn    fire  fighting  sunny/clear         cloudy
2     4704          4760  Hoenn    fire  fighting  sunny/clear         cloudy
3     3219          3258  Hoenn    fire  fighting  sunny/clear         cloudy
4     1848          1870  Hoenn   steel     fairy         snow         cloudy
5     2691          2723  Hoenn   steel     fairy         snow         cloudy
6     1478          1496  Hoenn   steel      rock         snow  partly cloudy
7     2324          2352  Hoenn   steel      rock         snow  partly cloudy
8     4705          4761  Hoenn   steel      None         snow           None
9     3391          3432  Hoenn   steel      rock         snow  partly cloudy
10    1196          1210  Hoenn    fire    ground  sunny/clear    sunny/clear
11    2479          2509  Hoenn    fire    ground  sunny/clear    sunny/clear
12    3641          3684  Hoenn    fire    ground  sunny/clear    sunny/clear
13    2366          2394  Hoenn    fire      None  sunny/clear           None
14    1845          1867  Hoenn    fire      None  sunny/clear           None
15    1104          1117  Hoenn   steel   psychic         snow          windy
16    1946          1969  Hoenn   steel   psychic         snow          windy
17    4286          4337  Hoenn   steel   psychic         snow          windy
18    5552          5619  Hoenn   steel   psychic         snow          windy
19    2766          2799  Hoenn   steel      None         snow           None
20    7072          7156  Hoenn  ground      fire  sunny/clear    sunny/clear
21    3691          3735  Hoenn   steel   psychic         snow          windy

                      boost
0              sunny/clear
1        sunny/clear cloudy
2        sunny/clear cloudy
3        sunny/clear cloudy
4               snow cloudy
5               snow cloudy
6        snow partly cloudy
7        snow partly cloudy
8                     snow
9        snow partly cloudy
10  sunny/clear sunny/clear
11  sunny/clear sunny/clear
12  sunny/clear sunny/clear
13             sunny/clear
14             sunny/clear
15               snow windy
16               snow windy
17               snow windy
18               snow windy
19                    snow
20  sunny/clear sunny/clear
21               snow windy

In [12]:
conn.close()

References
* [Flask SQLite database](https://pythonbasics.org/flask-sqlite/)
* [Flask SQLAlchemy (with Examples)](https://pythonbasics.org/flask-sqlalchemy/)
* [Youtube source code](https://github.com/rahularora/Youtube-source-code/blob/master/flask-api-sqlite/api.py)